version: "3.8"

services:
  api:
    build:
      context: .
      target: production
    container_name: property_api
    restart: unless-stopped
    ports:
      - "${PORT}:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npx prisma migrate deploy && npm run start"
